.card {
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  .card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
  }
  
  .card p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  